<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otter Task</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
   <main class="home-main">
         <nav class="home-nav p-1">
            <ul class="m-0 mt-3">
                <li class="me-3"><a href=""><button class="home-btn">Register</button></a></li>
                <li class="me-3"><a href=""><button class="home-btn">Sign In</button></a></li>
            </ul>
         </nav>
         <div class="d-flex justify-content-center w-100">
            <article class="home-article">
                <h1>Welcome to Otter Task!</h1>
                <p>Your personal task management application.</p>
                <a href=""><button class="home-btn">Get Started</button></a>
            </article>
         </div>
         <footer class="home-footer">
            <p>&copy; 2025 Pyrotter. All rights reserved.</p>
        </footer>
   </main>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.umd.min.js"></script>
</body>
</html>